[Unit]
Description=thorchaintxdecodingserver
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=ec2-user
Group=ec2-user
PermissionsStartOnly=true
ExecStart=/usr/bin/thorchaindebug tx-decoding-server
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

